.list-a-text {
    font-size: 8px;
    margin: 19px 5px;
  }
  .nav {
    width: 5rem;
    display: flex;
    list-style: none;
    font-size: 5px;
    justify-content: space-evenly;
  }
  
    .navbar {
      display: flex;
      flex-direction: column;
      margin: 2px 2px 60px 2px;
  }
    /* BODY */
  
    .left-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 2px -4px 2px;
  }
  .body-flex {
    display: flex;
    flex-direction: column;
    height: 92vh;
    align-items: center;
    justify-content: flex-start;
  }
  
  
    /* left body data */
    .name {
      font-size: 28px;
  }
    /* .special-character-color {
          color: #000000;
          FONT-SIZE: 78px;
        } */
        .occupation {
          font-size: 14px;
          padding: 2px 5px;
      }
    
      .work-list {
          padding: 22px 18px;
          margin: 2px 3px;
      }
  
      li.work-list-individual {
          font-size: 11px;
      }
    
    /* Hire Button */
    
    #a {
      margin: 24px 1px;
      padding: 7px 13px;
      font-size: 13px;
      border-radius: 10px;
  }
    /* hire me btn end */
    
    /* right image */
    img.right-png {
      width: 151px;
      margin: 0px 40px;
  }
  .body-flex {
    height: 86vh;
  }
  
  /* form */
  
  
  
  .left-form {
    background-color: white;
    padding: 9px 12px;
  }
  .form-box input {
    background-color: gainsboro;
    border: none;
    padding: 1px 19px;
  }
  .label-contact-form {
    padding: 1px 2px;
    font-size: 12px;
  } 
  
  #a2 {
    padding: 6px 44px;
    font-size: 11px;
  }
  
  .form-box {
    padding: 12px 2px;
    display: flex;
    flex-direction: column;
  }
  button.close-btn {
    float: right;
    padding: 1px 7px;
    margin: 10px 11px;
    font-size: 19px;
    border: none;
  }
  
  .right-form {
    background: url(../img/whiteBG.jpg)no-repeat center center/cover;
    width: 51px;
  }
  
  .img {
    width: 125px;
    padding: 7px 11px;
    margin: 6px 47px;
    transition: 0.5s;
  }
  
  
  /* slider */
  .slider-img {
    /* position: absolute; */
    width: 200px;
    height: 112px;
    display: none;
  }
  .flex {
    /* position: absolute;
      top: 50%; */
    display: flex;
    justify-content: center;
    padding: 73px 36px;
    align-items: center;
    left: 50%;
  }
  .slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .slider__btn {
    z-index: 10;
    border: none;
    background: rgb(255 0 0 / 0%);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  .slider__btn--right {
    right: 5%;
    transform: translate(2px);
  }
  
  .slider__btn--left {
    left: 5%;
    transform: translate(2px);
  }
  
  .active__slide {
    display: block;
  }
  
  /* EXPANDING CARDS START */
  .ec-container .ec-panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 16vh;
    border-radius: 42px;
    color: black;
    cursor: pointer;
    flex: 1;
    position: relative;
    padding: 1px 0px;
    transition: flex 0.7s ease-in;
    margin: 17px 4px;
}
  
  .ec-panel.active{
    flex: 5;
  }
  .ec-panel h1 {
    font-size: 4px;
    position: absolute;
    bottom: 14px;
    font-family: 'Kanit', sans-serif;
    left: -17px;
    opacity: 0;
    padding: 1px 6px;
    margin: 0;
    color: black;
    background-color: #e8e6ff;
    border-radius: 4px;
  
}

.ec-panel.active h1 {
    opacity: 1;
    transition: opacity 0.8s ease-in 0.4s;
    margin: 2px 39px;
}
  /* EXPANDING CARDS END */