.list-a-text {
  font-size: 11px;
  margin: 19px 7px;
}
.nav {
  width: 5rem;
  display: flex;
  list-style: none;
  font-size: 5px;
  justify-content: space-evenly;
}


.navbar {
  display: flex;
  flex-direction: column;
  margin: 2px 2px 60px 2px;
}
/* BODY */

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 13px 2px -67px 2px;
}
.body-flex {
  display: flex;
  flex-direction: column;
  height: 92vh;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

/* left body data */
.name {
  font-size: 32px;
}
/* .special-character-color {
        color: #000000;
        FONT-SIZE: 78px;
      } */
.occupation {
  font-size: 17px;
  padding: 2px 5px;
}

.work-list {
  padding: 11px 13px;
  margin: 2px 3px;
}

li.work-list-individual {
  font-size: 13px;
}

/* Hire Button */

#a {
  margin: 24px 1px;
  padding: 7px 13px;
  font-size: 13px;
  border-radius: 10px;
}
/* hire me btn end */

/* right image */
img.right-png {
  width: 200px;
  margin: 9px 40px;
}
.body-flex {
  height: 122vh;
}


/* form */





.left-form {
  background-color: white;
  padding: 9px 114px;
}

.form-box input {
  background-color: gainsboro;
  border: none;
  padding: 3px 19px;
}
.label-contact-form {
  padding: 1px 2px;
  font-size: 12px;
} 


#a2 {
  padding: 10px 44px;
  font-size: 11px;
} 

.form-box {
  padding: 12px 2px;
  display: flex;
  flex-direction: column;
}
button.close-btn {
  float: right;
  padding: 1px 7px;
  margin: 10px 11px;
  font-size: 19px;
  border: none;
}
/* slider */
.slider-img {
  /* position: absolute; */
  width: 297px;
  height: 163px;
  display: none;
}
.flex {
  /* position: absolute;
    top: 50%; */
  display: flex;
  justify-content: center;
  padding: 73px 36px;
  align-items: center;
  left: 50%;
}
.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.slider__btn {
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.slider__btn--right {
  right: 5%;
  transform: translate(2px);
}

.slider__btn--left {
  left: 5%;
  transform: translate(2px);
}

.active__slide {
  display: block;
}




/* EXPANDING CARDS START */
.ec-container .ec-panel {
  height: 36vh;
  border-radius: 42px;
  padding: 1px 6px;
  margin: 18px 13px;
}
.ec-panel h1 {
  font-size: 13px;
  left: 0;
}


/* EXPANDING CARDS END */

.body2 {
  height: 138vh;
}